<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <figure>
    <img src="/img/logo-DH.png" alt="Logo Digital House">
  </figure>
  <h1>
    <%= title %>
  </h1>
  <p>Bienvenidos a <%= title %>
  </p>
  <a href="/movies">Lista de peliculas</a>
 <br>
  <a href="/movies/new">Últimos estrenos</a>
  <br>
  <a href="/movies/recommended">Peliculas recomendadas</a>
<br>
<a href="/genres">Lista de géneros</a>
<br>
<a href="/actors">Lista de actores</a>
</body>

</html>